@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme='light'] {
  --font-base: var(--font-poppins);
  --container-max-width: 1280px;
  --bgColor: #71d2ff; 
  --navBarBackground: #9AD7FF;
  --primaryGradientStart: #76C8FF;
  --primaryGradientEnd: #00A4BA;
  --textColor: #000;
  --titleColor: #043A5E;
  --borderColor: #005a5b;
  --textShadow: 1px 1px 2px #035D9B, 0 0 1.5rem #043A5E, 0 0 1rem #01414a;
  --glow1: rgba(0,164,186,1);
  --glow2: rgba(4, 13, 35, 0.5);
  --glow3: rgba(0, 90, 91,0.75);
}

:root[data-theme='dark'] {
  --font-base: var(--font-poppins);
  --container-max-width: 1280px;
  --bgColor: #040D23; 
  --navBarBackground: #035D9B;
  --primaryGradientStart: #043A5E;
  --primaryGradientEnd: #01414a;
  --textColor: #95B3FF; 
  --titleColor: #35B4FE;
  --borderColor: #00d5d9;
  --textShadow: 1px 1px 2px #9AD7FF, 0 0 1.5rem #76C8FF, 0 0 1rem #00A4BA;
  --textHover: white;
  --glow1: rgba(53,180,254,0.2);
  --glow2: rgba(0,213,217,0.2);
  --glow3: rgba(118,200,255,0.15);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: var(--font-base), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  margin:auto;
  padding-bottom: 5rem;
  max-width: 80%;
}

.bg {
  background-color: var(--bgColor);
}

.bg-opacity-wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--navBarBackground);
  opacity: 0.25;
  z-index: 0;
}

.navbar {
  background: radial-gradient(circle at center, 
  var(--primaryGradientStart), 
  var(--primaryGradientEnd),
  var(--navBarBackground)); 
}

/* texts */
.link {
  transition: text-shadow 0.5s ease-in-out;
  &:hover {
    text-shadow: var(--textShadow);
  }
}

.title {
  @apply text-center text-xl font-Poppins font-black md:text-[2.5rem];
  color: var(--titleColor);
  transition: text-shadow 0.5s ease-in-out;
  &:hover {
    text-shadow: var(--textShadow);
  }
}

.sub-title {
  @apply text-start text-lg font-Poppins font-semibold md:text-[1.75rem] underline;
  color: var(--titleColor);
  transition: text-shadow 0.5s ease-in-out;
  &:hover {
    text-shadow: var(--textShadow);
  }
}

.text {
  color: var(--textColor);
  @apply mt-2 text-start font-semibold text-xs font-Poppins md:text-start md:text-xl ;
}

.redact-title {
  color: var(--titleColor);
  @apply text-[1rem] font-Inter font-black md:text-xl md:text-start;
}

.redact-sub-title {
  color: var(--titleColor);
  @apply text-[1rem] font-Inter font-black md:text-lg md:text-start;
}

.redact {
  color: var(--textColor);
  @apply text-[0.75rem] font-Poppins font-normal md:text-lg md:text-start;
}

/* buttons */
.buttonBase {
  @apply flex justify-center items-center cursor-pointer rounded-md px-5 py-2 gap-4 font-Inter text-lg font-semibold transition duration-300 ease-in-out;
}

.navButtonDark {
  @apply buttonBase bg-dark-lightBlue2 hover:bg-dark-darkBlue2 hover:ring-2 hover:ring-dark-lightBlue1 hover:shadow-darkLightBlue2;
  color: var(--bgColor);
  &:hover {
    color: var(--textHover);
  }
}

.navButtonLight {
  @apply buttonBase bg-light-lightBlue2 hover:bg-light-darkBlue2 hover:ring-2 hover:ring-light-lightBlue1 hover:shadow-lightLightBlue2;
  color: var(--textColor);
  &:hover {
    color: var(--textHover);
  }
}

.redirect-btn {
  @apply p-4 border-none font-Poppins text-lg cursor-pointer relative rounded-md transition duration-300 ease-in-out w-full h-[2rem] md:w-1/2 md:p-8;
  background: linear-gradient(90deg, --bgColor, --textColor, --titleColor);
  box-shadow:
    inset 0px 0px 5px var(--bgColor),
    inset 0px 35px 30px var(--borderColor),
    0px 5px 10px #000000cc;
  color: #fff;
}
.redirect-btn::before {
  @apply absolute rounded-md m-auto shadow-none inset-0 transition duration-300 ease-in-out;
  content: "";
  inset: 0;
  filter: blur(0);
  z-index: -1;
  background: conic-gradient(
    #00000000 80deg,
    var(--borderColor),
    var(--textColor),
    var(--titleColor),
    #00000000 280deg
  );
}
.redirect-btn:hover::before {
  filter: blur(15px);
}
.redirect-btn:active::before {
  filter: blur(5px);
  transform: translateY(1px);
}
.redirect-btn:active {
  box-shadow:
    inset 0px 0px 5px #ffffffa9,
    inset 0px 35px 30px #000;
}