:root[data-theme='light'] {
  --viewBg: #BBE6FF;
  --slideBg: #005a5b;
  --btnBg: #BBE6FF;
  --btnColor: #172554; 
}

:root[data-theme='dark'] {
  --viewBg: #043A5E;
  --slideBg: #001927;
  --btnBg: #035D9B ;
  --btnColor: #95B3FF; 
}

.container {
    max-width: 80rem;
    margin: auto;
    --slide-spacing: 1rem;
    --slide-size: 75%;
  }

    .play {
    background-color: var(--btnBg);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-body);
    font-weight: 700;
    font-size: 4rem;
    padding: 0 2.4rem;
    min-width: 8.4rem;
  }